.main{
	width: 100vw;
	height: 100vh;
	background-color: #253B79;
	padding-top: 9%;
}
.container{
	min-height: 80%;
	background-color: #fff;
}
.img-container{
	width: 60%;
	margin:0 20%;
}
.img-container img{
	width: 100%;
}
.main-card{
	padding: 30px;
}
.border-l{
	border-left: 1px solid #3b91fb;
}
h2{
	text-align: center;
	font-size: 30px;
	color: #565d65;
	margin-bottom: 20px;
}
h4{
	text-align: center;
	font-size: 24px;
	color: #7f8b99;
	margin-bottom:0px;
	margin-top:0px;
	padding: 20px;
	font-weight: 300;
}

h1{
	text-align: center;
	font-size: 40px;
	color: #3b91fb;
	margin-bottom:20px;
	margin-top:20px;
}
